*

# nao ignora os sub-diretorios
!desafios/
!simple tutorials/
!source/
!.vscode/
!beecrowd
!bucky_tutorials

# nao ignora as seguintes extensoes
!*.cpp
!.json

# nao ignora o proprio .gitignore
!.gitignore